/* Custom Stylesheet  */


body{
  background-color:  white;
  
}

/* .banner-bg{
   background-image: url("/images/Decore.svg");
   background-position: top right;
  background-repeat: no-repeat;
  background-size: 600px 600px;
} */
